.left-component,
.right-component {
  flex: 1;
  text-align: center;
}

.middle-component {
  flex: 2;
  text-align: center;
}

.image {
  height: 7rem;
  width: 7rem;
}

.header-bottom-image {
  height: auto;
  max-width: 100%;
}
