.page {
  padding: 1.5rem 3.125rem;
  max-width: 50rem;
  margin: 0 auto;
  color: var(--foreground);
}

.page-title {
  font-size: var(--font-scale-52);
  font-family: inherit;
  font-weight: 400;
  text-transform: uppercase;
}

div,
p span {
  font-family: inherit;
  line-height: 1.8rem;
  color: var(--foreground);
  font-size: var(--font-scale-16);
}

p {
  display: block;
  margin: 1rem 0;
  line-height: 1.8rem;
  text-align: justify;
}

p a {
  color: var(--primary);
  text-decoration: underline;
}

p a:hover {
  color: var(--primary-hover);
  text-decoration: underline;
}

div ul {
  list-style: inside;
}

.page #contact-us-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  font-size: 1em;
  font-family: inherit;
  color: #fff;
  background-color: #754e2f;
  width: 10vmin;
  height: 4vmin;
  border-radius: 5px;
}

input {
  font-size: 1em;
  min-width: 35vmin;
  height: 30px;
}

form {
  position: relative;
}

label {
  position: absolute;
  font-size: larger;
  left: 11px;
  top: 11px;
  transform-origin: 0 0;
}

label[for='form-email'] {
  top: 70px;
}

label[for='form-phonenumber'] {
  top: 130px;
}

label[for='form-comment'] {
  top: 185px;
  left: 8px;
}

#form-comment {
  padding-top: 17px;
  padding-left: 7px;
  padding-right: 7px;
  height: 100px;
  min-width: 35vmin;
  font-family: inherit;
  font-size: 1em;
}

input:focus + label,
input:not(:placeholder-shown) + label {
  transform: translateY(-0.45em) scale(0.8);
  transition: transform 75ms ease-in-out;
}

textarea:focus + label,
textarea:not(:placeholder-shown) + label {
  transform: translateY(-0.45em) scale(0.8);
  transition: transform 75ms ease-in-out;
}

