.single-blog-image {
  height: 500px;
  object-fit: cover;
  display: block;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.single-blog-body {
  display: flex;
  flex-direction: column;
  gap: 25px;
  @media (min-width: 680px) {
    flex-direction: row;
    padding-left: 5rem;
  }
}

.body-text {
  flex: 3;
}

.body-article {
  flex: 1;
  max-width: 20rem;
  @media (min-width: 680px) {
    max-width: 15rem;
  }
}

.body-article-title {
  text-align: center;
  font-size: larger;
  font-style: italic;
  padding-bottom: 0.5rem;
}
.body-article-blogCard {
  border: 1px black solid;
  transition: opacity 0.3s ease;
}

.body-article-blogCard :hover {
  opacity: 0.9;
}

.blog-article-author {
  display: flex;
  padding-top: 2rem;
  gap: 15px;
}

.blog-article-author-name {
  font-weight: bold;
}

.blog-article-h1 {
  margin-top: 0rem;
  margin-bottom: 1rem;
}
