.mpRecommendedProducts-grid {
  display: grid;
  padding-top: 2rem;
  padding-bottom: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-bottom: 0.3px solid rgba(0, 0, 0, 0.1);
}

.mpRecommendedProducts-grid-header {
  display: grid;
  place-items: center;
}

.mpRecommendedProducts-body {
  display: grid;
  grid-gap: 2.5rem;
  padding-top: 1rem;
  transition: opacity 0.3s ease;
  grid-template-columns: repeat(1, 1fr);
  @media (min-width: 45em) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.mpRecommendedProducts-body-footer {
  display: grid;
  place-items: center;
}

.mpRecommendedProducts-body-footer-button {
  padding: 0.7rem;
  margin-top: 1rem;
  width: 60%;
  background: #a57a4e;
  color: white;
  border-radius: 5px;
  font-family: serif;
  font-size: 1.1rem;
  letter-spacing: 0.07rem;
}

.mpRecommendedProducts-body-image :hover {
  opacity: 0.7;
}

.mpRecommendedProducts-body h4:hover {
  text-decoration: underline;
}

.mpRecommendedProducts-body small:hover {
  text-decoration: underline;
}

.mpRecommendedProducts-body button:hover {
  filter: brightness(100%);
  box-shadow: 0 0 0 1px var(--primary);
}

.mpRecommendedProduct img {
  height: auto;
}
